<div class="card">
    <div class="card-body">
        <h3>Order Summary</h3>
        <table class="table" *ngIf="cart">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-right">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cart.items; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.title}}</td>
                    <td class="text-center">{{item.quantity}}</td>
                    <td class="text-right">{{item.totalPrice | currency:'USD'}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th class="text-right">{{cart.totalPrice | currency:'USD'}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
