<h3>Shipping Information</h3>
<form #f="ngForm" (ngSubmit)="f.valid && placeOrder(f.value)">
    <div class="form-group">
        <label>Name</label>
        <input 
            name="name" 
            type="text" 
            class="form-control"
            required
            ngModel
            #name="ngModel"
            >
        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors?.required">Name is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input 
            name="phone" 
            type="tel" 
            class="form-control"
            required
            digits
            ngModel
            #phone="ngModel"
            >
        <div class="alert alert-danger" *ngIf="phone.touched && phone.invalid">
            <div *ngIf="phone.errors?.required">Phone is required.</div>
            <div *ngIf="phone.errors?.digits">Invalid phone number.</div>
        </div>
    </div>
    <div class="form-group">
        <label>Address</label>
        <input 
            name="address" 
            type="text" 
            class="form-control"
            required
            ngModel
            #address="ngModel"
            >
        <div class="alert alert-danger" *ngIf="address.touched && address.invalid">
            <div *ngIf="address.errors?.required">Address is required.</div>
        </div>
    </div>
    <button 
        type="submit" 
        class="btn btn-lg btn-primary"
        [disabled]="f.invalid"
        >Place Order</button> 
</form>