<div>
    <div class="list-group mb-2" *ngIf="categories$ | async as categories">
        <a 
            class="list-group-item list-group-item-action"
            routerLink="/"
            [class.active]="!selectedCategory"
            >All Categories</a>
        <a 
            class="list-group-item list-group-item-action"
            *ngFor="let c of categories"
            routerLink="/"
            [queryParams]="{category: c.key}"
            [class.active]="c.key === selectedCategory"
            >{{c.name}}</a>
    </div>
</div>