<p>
  <a routerLink="/admin/product/new" class="btn btn-lg btn-primary">New Product</a>
</p>

<p>
  <input 
    type="text" 
    placeholder="Search..." 
    class="form-control"
    #query
    (keyup)="filter(query.value)"
    >
</p>

<ngx-datatable
  class="material"
  rowHeight="auto"
  [columnMode]="ColumnMode.force"
  [headerHeight]="50"
  [footerHeight]="50"
  [limit]="10"
  [columns]="columns"
  [rows]="filteredProducts"
  >

  <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
  </ngx-datatable-column>
  <ngx-datatable-column name="Actions" sortable="false" [prop]="'title'">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a [routerLink]="['/admin/product', row.key]">Edit</a> 
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>