<div class="row">
    <div class="col-md-6">
        <h3>{{id ? 'Edit Category' : 'Add Category'}}</h3>
        <form #f="ngForm" (ngSubmit)="f.valid && save(f.value)">
            <div class="form-group">
                <label>Category ID</label>
                <input 
                    [(ngModel)]="category.key"
                    name="key" 
                    type="text" 
                    class="form-control"
                    required
                    [disabled]="id"
                    #key="ngModel"
                    >
                <div class="alert alert-danger" *ngIf="key.touched && key.invalid">
                    <div *ngIf="key.errors?.required">Category ID is required.</div>
                </div>
            </div>
            <div class="form-group">
                <label>Category Name</label>
                <input 
                    [(ngModel)]="category.name"
                    name="name" 
                    type="text" 
                    class="form-control"
                    required
                    #name="ngModel"
                    >
                <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                    <div *ngIf="name.errors?.required">Category name is required.</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-right">
                    <button 
                        class="btn btn-lg btn-link"
                        type="button"
                        (click)="delete()"
                        *ngIf="id"
                        >Delete</button>
                </div>
                <div class="col-6">
                    <button 
                        type="submit" 
                        class="btn btn-lg btn-primary btn-block"
                        [disabled]="f.invalid"
                        >Save</button> 
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6">
    </div>
</div>