<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top px-5">
    <div class="container">
        <a class="navbar-brand"  routerLink="/"><i class="fa fa-leaf"></i> Ngx-Shop</a>
        <button 
            class="navbar-toggler" 
            type="button" 
            (click)="isMenuCollapsed = !isMenuCollapsed"
            >
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse navbar-right" [ngbCollapse]="isMenuCollapsed">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a 
                        class="nav-link"  
                        routerLink="/shopping-cart"
                        (click)="isMenuCollapsed = true"
                        >
                        <i class="fa fa-shopping-cart"></i> 
                        <span 
                            class="badge badge-warning badge-pill"
                            *ngIf="cart$ | async as cart"
                            >{{cart.totalItemsCount}}</span>
                    </a>
                </li>
                <ng-template #anonymousUser>
                    <li class="nav-item">
                        <a 
                            class="nav-link" 
                            (click)="isMenuCollapsed = true" 
                            routerLink="/login"
                            >Login</a>
                    </li>
                </ng-template>
                <li 
                    ngbDropdown 
                    class="nav-item dropdown" 
                    *ngIf="appUser; else anonymousUser"
                    >
                    <a 
                        ngbDropdownToggle 
                        class="nav-link dropdown-toggle"  
                        id="navbarDropdown" 
                        role="button" 
                        data-toggle="dropdown"
                        aria-haspopup="true" 
                        aria-expanded="false"
                        >{{appUser?.name}}</a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a 
                            class="dropdown-item" 
                            routerLink="/my-orders"
                            (click)="isMenuCollapsed = true"
                            >My Orders</a>
                        <ng-container *ngIf="appUser.isAdmin" >
                            <div class="dropdown-divider"></div>
                            <a 
                                class="dropdown-item" 
                                routerLink="admin/order"
                                (click)="isMenuCollapsed = true"
                                >Manage Orders</a>
                            <a 
                                class="dropdown-item" 
                                routerLink="admin/product"
                                (click)="isMenuCollapsed = true"
                                >Manage Products</a>
                            <a 
                                class="dropdown-item" 
                                routerLink="admin/category"
                                (click)="isMenuCollapsed = true"
                                >Manage Categories</a>
                        </ng-container>
    
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="isMenuCollapsed = true;logout()">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>