<div class="row">
    <div class="col-md-4">
        <app-product-filter [selectedCategory]="selectedCategory"></app-product-filter>
    </div>
    <div class="col-md-8" *ngIf="cart$ | async as cart">
        <div class="row" *ngIf="products$ | async as products; else loadingSpinner">
            <div 
                class="col-md-6"
                *ngFor="let p of products"
                >
                <app-product-card 
                    [product]="p"
                    [shoppingCart]="cart" 
                    ></app-product-card>
            </div>
            
        </div>
        <ng-template #loadingSpinner>
            <app-loading-spinner></app-loading-spinner>
        </ng-template>
    </div>
</div>
